# Are Lotter tickets worth the money spent on them

The lottery ticket is often viewed as a easiest way to get rich quick. The odds of a lottery ticket paying up the big prize at the end are often miniscule especially when you consider the huge sample space of outcomes possible.

Lottery tickets similar to gambling has the potential to develop from leisure into an addictable activity and have serious financial consequences on the personal lives of those addicted to buying lottery tickets.

Recently medical institutions combating gambling addictions have turned to using technology to help educate their patients on the reality behind lottery odds. They are using mobile apps to allow addicts to estimate their chances at winning the big prize and realize how low their chances truly are.

This project attempts to create a probabilistic determination of lottery odds using real world data. Historical data is available from 1982 to 2018 for the [Lotto 6/49](https://en.wikipedia.org/wiki/Lotto_6/49), which is one of the national lottery schemes in Canada, let us try and compute the probability of a single ticket or mulitple tickets being able to win the grand prize.

In [1]:
import pandas as pd
import numpy as np

def factorial(n):
    if n==0:
        return 1
    else:
        return (n*factorial(n-1))
    
def combinations(n,k):
    return (factorial(n)/(factorial(k)*factorial(n-k)))

In [2]:
def lottery_odds(t):
    t_outcomes = combinations(49,len(t))
    odds = ((1/t_outcomes)*100)
    str = "The odds of you winning the lottery with that ticket are: {0:.6f}%"
    return (print(str.format(odds)))

lottery_odds([13,62,73,34,95,86])

The odds of you winning the lottery with that ticket are: 0.000007%

The simple function "lottery_odds" defined above allows for easy calculation of the probability that any single ticket has at winning the Lotto 6/49 lottery.

In [3]:
lottery_data = pd.read_csv("649.csv")
lottery_data.shape

(3665, 11)

In [4]:
lottery_data.head(5)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [5]:
lottery_data.tail(5)

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

Let's look to extract all the previous number combinations to win the lottery jackpot and look for any possible pattern or repitition of numbers over the years.

In [6]:
def extract_numbers(x):
    return (set(x))

In [7]:
winning_numbers = lottery_data.iloc[:,4:10].apply(extract_numbers,axis=1)
winning_numbers

0        {3, 41, 11, 12, 43, 14}
1        {33, 36, 37, 39, 8, 41}
2         {1, 6, 39, 23, 24, 27}
3         {3, 9, 10, 43, 13, 20}
4        {34, 5, 14, 47, 21, 31}
5        {8, 41, 20, 21, 25, 31}
6       {33, 36, 42, 18, 25, 28}
7        {7, 40, 16, 17, 48, 31}
8        {5, 38, 37, 10, 23, 27}
9        {4, 37, 46, 15, 48, 30}
10        {33, 38, 7, 9, 42, 21}
11      {36, 11, 43, 17, 19, 20}
12       {37, 7, 14, 47, 17, 20}
13      {35, 44, 25, 28, 29, 30}
14       {36, 39, 8, 41, 47, 18}
15       {9, 12, 13, 14, 44, 48}
16       {4, 40, 43, 44, 14, 18}
17      {34, 35, 36, 13, 16, 18}
18      {36, 11, 23, 25, 28, 29}
19       {37, 7, 45, 18, 23, 25}
20      {37, 11, 45, 18, 19, 31}
21       {8, 14, 16, 48, 18, 31}
22       {4, 11, 45, 23, 24, 25}
23        {33, 34, 3, 4, 48, 19}
24       {5, 43, 17, 21, 28, 30}
25       {36, 6, 38, 46, 17, 24}
26        {4, 9, 10, 11, 43, 46}
27       {32, 33, 7, 13, 45, 23}
28      {35, 37, 11, 18, 22, 28}
29      {35, 45, 48, 25, 26, 31}
                  ...
3635     {2, 10, 43, 44, 48, 28}
3636      {1, 33, 9, 10, 43, 19}
3637    {35, 43, 44, 46, 16, 17}
3638       {1, 5, 39, 9, 41, 12}
3639     {9, 11, 45, 49, 28, 30}
3640    {11, 12, 46, 19, 24, 28}
3641      {3, 7, 43, 47, 22, 26}
3642       {34, 6, 8, 9, 40, 13}
3643    {36, 40, 47, 49, 18, 22}
3644      {32, 3, 7, 41, 10, 43}
3645     {1, 36, 11, 48, 49, 19}
3646    {39, 12, 17, 19, 22, 27}
3647    {41, 12, 49, 19, 20, 30}
3648    {40, 10, 46, 14, 16, 15}
3649    {33, 34, 44, 46, 24, 31}
3650      {4, 37, 36, 7, 49, 28}
3651     {33, 4, 48, 18, 24, 26}
3652    {36, 37, 15, 17, 21, 24}
3653     {34, 37, 6, 44, 17, 21}
3654    {39, 46, 19, 21, 28, 30}
3655    {34, 38, 44, 14, 15, 28}
3656      {4, 9, 42, 44, 15, 20}
3657    {39, 12, 13, 44, 16, 23}
3658     {38, 39, 9, 14, 17, 21}
3659     {32, 2, 40, 45, 49, 26}
3660    {38, 40, 41, 10, 15, 23}
3661    {36, 46, 47, 19, 25, 31}
3662     {32, 34, 6, 22, 24, 31}
3663     {2, 38, 15, 49, 21, 31}
3664    {35, 37, 14, 48, 24, 31}
Length: 3665, dtype: object

In [8]:
def check_historical_occurence(x,y):
    x_set = set(x)
    count=0
    for each in y:
        if x_set.issubset(each):
            count+=1
    print((''' The combination of {} has occured {} times in the past, the odds of winning the lottery with your ticket are still 0.000007%.
    ''').format(x_set,count))
    
test = set('123456')
check_historical_occurence(test,winning_numbers)

 The combination of {'2', '5', '6', '3', '1', '4'} has occured 0 times in the past, the odds of winning the lottery with your ticket are still 0.000007%.

Using our user defined function, the app will now be able to compare a given lottery ticket and it's numbers with historical data and check if there is any repeatability observed amongst the selection of numbers that won the jackpot.

In [9]:
def multi_ticket_odds(x):
    t_outcomes = combinations(49,6)
    odds = ((x/t_outcomes)*100)
    print("""The odds of you winning the lottery with {0} tickets are: {1:.6f}%""".format(x,odds))

In [10]:
test = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for each in test:
    multi_ticket_odds(each)

The odds of you winning the lottery with 1 tickets are: 0.000007%
The odds of you winning the lottery with 10 tickets are: 0.000072%
The odds of you winning the lottery with 100 tickets are: 0.000715%
The odds of you winning the lottery with 10000 tickets are: 0.071511%
The odds of you winning the lottery with 1000000 tickets are: 7.151124%
The odds of you winning the lottery with 6991908 tickets are: 50.000000%
The odds of you winning the lottery with 13983816 tickets are: 100.000000%

Lottery ticket buyers usually purchase more than a single ticket to increase their chances at a prize, we wrote a function that allows us to present their odds at winning the grand prize when they buy multiple tickets.

Lottery drawings also offer smaller prizes for ticket holders who match between 2 and 5 numbers from those drawn as part of the jackpot.

It would be of interest to lottery ticket buyers to know what their odds are at those consolation prizes.

In [17]:
def matching_numbers(n):
    n_choice = combinations(6,n)
    n_outcomes = combinations(43,(6-n))
    n_possibilities = n_choice*n_outcomes
    odds = (n_possibilities/combinations(49,6))*100
    print("""The odds of winning a prize for having exactly {0} macthing numbers are: {1:.4f}%""".format(n,odds))

In [18]:
test2 = [1, 2, 3, 4, 5]

for each in test2:
    matching_numbers(each)

The odds of winning a prize for having exactly 1 macthing numbers are: 41.3019%
The odds of winning a prize for having exactly 2 macthing numbers are: 13.2378%
The odds of winning a prize for having exactly 3 macthing numbers are: 1.7650%
The odds of winning a prize for having exactly 4 macthing numbers are: 0.0969%
The odds of winning a prize for having exactly 5 macthing numbers are: 0.0018%